<html>
<head>
<style type="text/css">
  body {
     background: black;
     color: white;
    }
  .center {
     text-align:center;
     display:block;
    }
</style>
</head>
<body>
	<h1><p style="text-align:center;"> Pizza Nutrition Info of Top 10 Popular ones</p></h1>
	<center><button onclick="location.href='/back'" type="button" style="height:35px; width:100px"> BACK </button> <button onclick="location.href='/'" type="button" style="height:35px; width:100px"> NEXT </button></center>
	<h3><p style="text-align:center;"><b>{{ name }}</b></p></h3>
	<center><img src="{{ image }}" width="800" height="600" class="center" /></center>
</body>
</html>
